/* .job-list-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
} */

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
}
